@font-face {
    font-family: 'GT Walsheim LC';
    src: url('/fonts/GT-Walsheim/GT-Walsheim-LC-Light.otf') format('opentype'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Light.ttf') format('truetype'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Light.woff') format('woff'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim LC';
    src: url('/fonts/GT-Walsheim/GT-Walsheim-LC-Regular.otf') format('opentype'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Regular.ttf') format('truetype'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Regular.woff') format('woff'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim LC';
    src: url('/fonts/GT-Walsheim/GT-Walsheim-LC-Medium.otf') format('opentype'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Medium.ttf') format('truetype'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Medium.woff') format('woff'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim LC';
    src: url('/fonts/GT-Walsheim/GT-Walsheim-LC-Bold.otf') format('opentype'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Bold.ttf') format('truetype'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Bold.woff') format('woff'),
    url('/fonts/GT-Walsheim/GT-Walsheim-LC-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
