{{ $image := (.Page.Resources.GetMatch .Destination) }}
{{ with $image }}
{{ $large := .Resize "2000x" }}
{{ $medium := .Resize "1000x" }}
{{ $small := .Resize "320x" }}
{{ $large_2x := .Resize "4000x" }}
{{ $medium_2x := .Resize "2000x" }}
{{ $small_2x := .Resize "640x" }}
<picture>
    <source media="(min-width: 60em)" srcset="{{ $large_2x.RelPermalink }} 2x, {{ $large.RelPermalink }} 1x">
    <source media="(min-width: 38em)" srcset="{{ $medium_2x.RelPermalink }} 2x, {{ $medium.RelPermalink }} 1x">
    <img src="{{ $small.RelPermalink }}" width="100%" srcset="{{ $small_2x.RelPermalink }} 2x, {{ $small.RelPermalink }} 1x" alt="{{ $.Text }}">
</picture>
{{ end }}