{{ $image := (.Page.Resources.Get .Destination) }}
{{ with $image }}
{{ $size := default 1400 (int $image.Width) }}
{{ $large := .Resize (printf "%dx" $size) }}
{{ $large_2x := .Resize (printf "%dx" (mul $size 2)) }}
<a data-fslightbox href="{{ $large_2x.RelPermalink }}">
    <figure>
        <img src="{{ $large.RelPermalink }}" width="{{ $large.Width }}" height="{{ $large.Height }}"
             srcset="{{ $large_2x.RelPermalink }} 2x, {{ $large.RelPermalink }} 1x" alt="{{ $.Text }}">
        {{ with $.Title }}<figcaption>{{ . }}</figcaption>{{ end }}
    </figure>
</a>
{{ end }}