<!DOCTYPE html>
{{ $app := resources.Get "/js/script.js" | fingerprint "sha512" }}
<html lang="{{ site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body {{ with .Params.theme }}class="{{ . }}"{{ end }}>
    <div class="container content">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </div>
    <script src="{{ $app.Permalink }}" integrity="{{ $app.Data.Integrity }}"></script>
    <script async src="/js/fslightbox.js"></script>
    </body>
</html>
