{{ define "main" }}
<h1>{{ .Title }}</h1>
<h4 class="gap-s">{{ .Description }}</h4>
<main>
    <div class="row">
        {{ $image := (dict "image" (.Resources.GetMatch "thumbnail.png") "alt" .Title "lightbox" true) }}
        <div class="col-12">
            {{ partial "image" $image }}
        </div>
    </div>
    {{ .Content }}
    <h4 class="project__show-more-heading">please check this work <img class="project__show-more-arrow" src="/images/button-arrow-dark.svg" alt="show more"> <a href="{{ .Params.projectURL }}">{{ .Title }}</a></h4>
</main>
{{ end }}