{{ define "main" }}
<div class="row gap-s">
    <div class="col-12">
        <h1>{{ .Title }}</h1>
        <h4>{{ .Description }}</h4>
    </div>
</div>
<main>
    <div class="row">
        {{ $image := (dict "image" (.Resources.GetMatch "thumbnail.png") "alt" .Title "lightbox" true) }}
        <div class="col-12">
            {{ partial "image" $image }}
        </div>
    </div>
    {{ .Content }}
    {{ with .Params.reference }}
        {{ $referencePage := $.Site.GetPage . }}
        <h4 class="project__show-more-heading">please check this work {{ partial "button-arrow" . }} <a href="{{ $referencePage.RelPermalink }}" target="_blank">{{ $referencePage.Title }}</a></h4>
    {{ end }}
</main>
{{ end }}