:root {
    --main-black: #181717;
    --secondary-black: #0D0D0D;
    --secondary: #2429AF;
    --secondary-2: #3A40D3;
    --main-gray: #606060;
    --background: #F3F3F3;
    /*button colors*/
    --button-primary: var(--secondary-2);
    --button-primary-hover: var(--secondary);
    --button-primary-pressed: #121577;
    /*secondary button*/
    --button-secondary: var(--main-black);
    --button-secondary-hover: var(--secondary-2);
    --button-secondary-pressed: var(--secondary);
    /*default site colors. can be changed by themes*/
    --font-color: var(--main-black);
    --background-color: var(--background);
    --footer-copy-color: var(--secondary-2);
}

html {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
}

body.kbs {
    --background-color: var(--secondary-black);
    --font-color: var(--background);
    --footer-copy-color: var(--background);
}

body.mighty {
    --background-color: var(--main-black);
    --font-color: var(--background);
    --footer-copy-color: var(--background);
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

h1 {
    font-size: 2rem;
    line-height: 2.375rem;
    font-weight: 700;
    text-transform: lowercase;
    margin-bottom: 32px;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 500;
    text-transform: lowercase;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.9375rem;
    font-weight: 400;
    text-transform: lowercase;
}

h4 {
    font-size: 1.375rem;
    line-height: 1.8125rem;
    font-weight: 500;
    text-transform: lowercase;
}

.gap-xl {
    margin-bottom: 64px;
}

.gap-s {
    margin-bottom: 32px;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}


.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.gray {
    color: var(--main-gray);
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.paragraph1, p {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
}

.paragraph2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
}

a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
}

a:active {
    color: var(--secondary-2);
}

.button {
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 12px 40px;
    font-size: 1rem;
    line-height: 1.625rem;
    background-color: var(--button-primary);
    color: var(--background);
    font-weight: 700;
    transition: background-color 0.3s, border 0.3s;
    border: none;
    width: 100%;
    text-transform: lowercase;
}

.button:hover {
    background-color: var(--button-primary-hover);
}

.button:active {
    background-color: var(--button-primary-pressed);
}

.button_secondary {
    color: var(--main-black);
    background-color: transparent;
    border: 1px solid var(--main-black);
}

.button_secondary:hover {
    border: 1px solid var(--secondary-2);
    background-color: transparent;
}

.button_secondary:active {
    border: 1px solid var(--secondary);
    background-color: transparent;
}

.project__show-more-arrow {
    width: 48px;
    height: 48px;
    line-height: 48px;
    vertical-align: bottom;
    margin-left: 0;
}

.button-arrow {
    margin: 0 1.5rem;
    vertical-align: middle;
}

.project__show-more-heading {
    line-height: 48px;
}

.button__icon {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.625rem;
    margin-left: 12px;
    vertical-align: middle;
}

.container {
    margin: 32px auto;
}

.header {
    margin-bottom: 64px;
}

.header .logo {
    line-height: 42px;
}

.header .logo svg {
    vertical-align: middle;
}

.header__icon a {
    display: inline-block;
}

.header__icon img {
    vertical-align: middle;
}

.header__navigation {
    line-height: 1.625;
    text-align: right;
}

.navigation__list {
    text-align: right;
    list-style-type: none;
    letter-spacing: 32px;
    margin: 0;
    padding: 0;
}

.navigation__list > li {
    display: inline-block;
    letter-spacing: initial;
}

.burger__trigger {
    z-index: 99;
    display: inline;
    position: relative;
    appearance: none;
}

.burger__trigger input {
    display: none;
}

.button__label {
    position: relative;
    z-index: 99;
    display: block;
    height: 42px;
}

.button__label svg {
    position: absolute;
    right: 0;
    transition: opacity 0.2s;
}

.burger__trigger ~ .button__label .burger-icon {
    opacity: 1;
}

.burger__trigger ~ .button__label .cross-icon {
    opacity: 0;
}

.burger__trigger:checked ~ .button__label .burger-icon {
    opacity: 0;
}

.burger__trigger:checked ~ .button__label .cross-icon {
    opacity: 1;
}

.burger__trigger:checked ~ .burger__navigation {
    transform: translateX(0);
}

.burger__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    background-color: var(--background-color);
    padding: 88px 24px 0;
    transform: translateX(100%);
    transition: transform 0.3s;
}

.burger__navigation li {
    display: block;
    text-align: left;
    margin-bottom: 24px;
}

.burger__navigation li:last-of-type {
    margin-bottom: 0;
}

.hero__heading, .hero__subheading {
    margin-bottom: 24px;
}

.hero__heading h1 {
    font-size: 64px;
    color: #3D1AD0;
    line-height: 0;
}

.hero__heading h1 span {
    color: var(--main-black);
}

.hero__l {
    display: inline-block;
    vertical-align: middle;
    margin-right: -32px;
    margin-bottom: -16px;
}

.hero__subheading {
    color: var(--main-gray);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.hero {
    margin-top: 64px;
    margin-bottom: 64px;
    align-items: flex-end;
}

.brands__list {
    overflow: hidden;
    position: relative;
    padding: 16px 0;
}

.marquee {
    white-space: nowrap;
    letter-spacing: -4px;
}

.marquee span {
    letter-spacing: initial;
    display: inline-flex;
    font-style: italic;
    font-size: 1.5rem;
    animation: marquee 30s linear infinite;
}

.marquee:hover span {
    animation-play-state: paused;
}

.brands__brand {
    transition: all .2s ease-out;
    margin: 0 30px;
    opacity: .5;
}

.brands__brand:hover {
    transform: scale(1.2);
    opacity: 1;
}

.project__item:last-of-type {
    margin-bottom: 64px;
}

.projects__title {
    margin-bottom: 32px;
}

.project__item-description {
    margin-bottom: 1.5rem;
}

.project__item-show-more {
    font-size: 1.125rem;
    line-height: 1.625rem;
    text-decoration: underline;
}

.recommendations__title {
    margin-bottom: 24px;
}

.recommendation {
    padding: 12px;
    margin-bottom: 24px;
}

.recommendation__person {
    margin-bottom: 24px;
}

.recommendation__name, .recommendation__title {
    margin-bottom: 0;
}

.recommendation__title {
    color: var(--secondary-2);
}

.recommendation__description {
    margin-left: 12px;
}

.recommendation__content {
    line-height: 1.625rem;
}

.contact__title {
    margin-bottom: 32px;
}

.contact__email {
    margin-bottom: 12px;
    font-weight: 700;
}

.footer {
    line-height: 1.625;
}

.footer__copyright-text {
    margin: 0;
    color: var(--footer-copy-color);
}

hr {
    border: none;
    margin: 64px auto;
    background-color: var(--font-color);
    height: 1px;
}

.projects-page__list {
    margin-bottom: -32px;
}

.projects-page__item {
    margin-bottom: 32px;
}

.projects-page__item h4 {
    margin-top: 18px;
    margin-bottom: 24px;
}

.about__body p {
    color: var(--main-gray)
}

.form__label {
    display: block;
    margin-bottom: 12px;
}

.form__input, .form__textarea {
    background-color: var(--background);
    display: block;
    width: 100%;
    appearance: none;
    border: 1px solid var(--main-black);
    padding: 12px 24px;
    margin-top: 4px;
    transition: border 0.3s, outline-color 0.3s;
    outline: none;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    line-height: 1.625rem;
}

.form__textarea {
    resize: vertical;
    min-height: 64px;
}

.form__input:focus, .form__textarea:focus {
    outline: 1px solid var(--secondary-2);
}

.form__input:hover, .form__textarea:hover {
    border-color: var(--secondary);
}

.form__input::placeholder, .form__textarea::placeholder {
    font-family: inherit;
    font-style: normal;
    color: #B4B4B4;
}

main h4 {
    font-weight: 700;
    margin-bottom: 12px;
}

main .row img {
    width: 100%;
}

main .row.images {
    margin-bottom: 32px;
}

picture figcaption {
    margin-top: 16px;
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 4rem;
        line-height: 3.875rem;
    }

    h2 {
        line-height: 1.17;
        font-size: 3rem;
    }

    h3 {
        font-size: 2.375rem;
        line-height: 3.0625rem;
    }

    h4 {
        font-size: 1.875rem;
        line-height: 2.625rem;
    }

    hr {
        margin: 120px auto;
    }

    .paragraph1, p {
        margin-bottom: 1.5rem;
    }

    .paragraph2 {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .button {
        width: initial;
    }

    .gap-xl {
        margin-bottom: 120px;
    }

    .gap-s {
        margin-bottom: 64px;
    }

    .container {
        margin: 120px auto;
    }

    .header {
        margin-bottom: 120px;
    }

    .header .logo {
        line-height: initial;
    }

    .burger__navigation {
        position: static;
        padding: 0;
        transform: none;
        background: none;
    }

    .burger__navigation li {
        display: inline-block;
        margin-bottom: 0;
    }

    .hero {
        margin-top: 180px;
        margin-bottom: 120px;
    }

    .hero__heading, .hero__subheading {
        margin-bottom: 0;
    }

    .hero__heading h1 {
        font-size: 96px;
    }

    .marquee span {
        font-size: 1.5rem;
    }

    .projects__title {
        margin-bottom: 120px;
    }

    .project__item-description {
        margin-bottom: 3rem;
    }

    .recommendations__title {
        margin-bottom: 88px;
    }

    .recommendation {
        padding: 24px;
        margin-bottom: 0;
    }

    .contact__title {
        margin-bottom: 0;
    }

    .form__label {
        margin-bottom: 24px;
    }

    .contact__email {
        font-weight: 500;
    }

    .projects-page__list {
        margin-bottom: -120px;
    }

    .projects-page__item {
        margin-bottom: 120px;
    }

    .projects-page__item h4 {
        margin-top: 32px;
    }

    main .row {
        margin-bottom: 64px;
    }

    main .row.images {
        margin-bottom: 64px;
    }

    main .row img {
        height: 100%;
        object-fit: cover;
    }

    main .row p:last-of-type {
        margin-bottom: 0;
    }
}