<hr class="gap-s">
<section class="row contact gap-xl">
    <div class="col-sm-6 contact__title d-flex flex-column flex-sm-column-reverse">
        <img class="mb-4 mb-sm-0" src="/images/footer-cat.svg" alt="Footer cat" width="224px">
        <h3>I am thrilled to answer<br>to your next project ↗</h3>
    </div>
    <div class="col-sm-6">
        <a href="mailto:bloolya@gmail.com"><h4 class="contact__email">bloolya@gmail.com</h4></a>
        <a href="/projects"><button class="button">View my CV</button></a>
    </div>
</section>
<footer class="row footer">
    <div class="col-6 footer__copyright">
        <p class="footer__copyright-text">Mila Laveo — 2023</p>
    </div>
    <nav class="col-6 footer__navigation">
        <ul class="navigation__list">
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>&#10;&#13;
            {{ end }}
        </ul>
    </nav>
</footer>