<header class="row header">
    <div class="col-6 col-sm-3 header__icon">
        <a href="/" class="logo" aria-label="logo">{{ partial "logo" . }}</a>
    </div>
    <nav class="col-6 header__navigation burger">
        <input id="burger__button" class="d-sm-none burger__trigger" type="checkbox" name="burger">
        <label for="burger__button" class="d-sm-none button__label">
            {{ partial "burger" . }}
            {{ partial "cross-icon" . }}
        </label>
        <ul class="navigation__list burger__navigation text-center">
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>&#10;&#13;
            {{ end }}
        </ul>
    </nav>
    <ul class="col-sm-3 d-none d-sm-flex justify-content-end header__social flex-row">
        {{ range .Site.Menus.footer }}
        <li><a href="{{ .URL }}"><img src="/images/{{ .Pre }}" alt="{{ .Name }}"></a></li>
        {{ end }}
    </ul>
</header>