<section class="row hero">
    <div class="col-sm-5 hero__heading">
        <img src="/images/hero-cat.svg" alt="Hero cat">
        <h1 class="mb-0">Hello, I’m Lolita Malaeva.</h1>
    </div>
    <p class="col-sm-6 offset-sm-1 hero__subheading">I am a highly dedicated and creative professional with a strong background in UI/UX, web design, and mobile app development. I am a highly dedicated and creative professional with a strong background in UI/UX, web design, and mobile app development. </p>
</section>