<section class="row hero">
    <div class="mb-5 col-12 col-lg-6 offset-lg-3 hero__heading">
        <h1><img class="hero__l" src="/images/hero.gif" height="166" alt="L">olita<br><span>Malaeva</span></h1>
    </div>
    <p class="col-12 col-lg-6 offset-lg-3 hero__subheading">Product designer with 7+ years’ experience in B2B, SaaS, FinTech & startups. Expert in design systems, UX audits, and end-to-end product design. Strong in cross-team collaboration and always looking for fresh challenges.</p>
</section>