<section class="row hero">
    <div class="mb-5 mb-lg-0 col-12 col-lg-6 hero__heading">
        <h1><img class="hero__l" src="/images/hero.gif" height="166" alt="L">olita<br><span>Malaeva</span></h1>
    </div>
    <p class="col-12 col-lg-6 hero__subheading">I am a highly dedicated and creative professional with a strong background in UI/UX, web design, and mobile app development. I am a highly dedicated and creative professional with a strong background in UI/UX, web design, and mobile app development. </p>
</section>