{{ $category := .Site.GetPage "/projects" }}
<section class="row projects">
    <h2 class="col-sm-5 projects__title">Showcase of selected projects</h2>
    <ul class="col-12 projects__list">
        {{ range last 3 $category.Pages }}
        {{ $image := (dict "image" (.Resources.Get "thumbnail.png") "alt" .Title "width" 640) }}
        <li class="row project__item gap-xl">
            <div class="col-sm-5 d-flex flex-column justify-content-between">
                <div>
                    <a href="{{ .RelPermalink }}"><h4 class="bold lowercase mb-3">{{ .Title }}</h4></a>
                    <p class="project__item-description">{{ .Description }}</p>
                    <p class="paragraph2 gray">{{ .Params.subtitle }}</p>
                </div>
                <div>
                    <a href="{{ .RelPermalink }}" class="project__item-show-more">More shots from this project ↗</a>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-1 project__item-image order-first order-sm-last mb-3 mb-sm-0">
                <a href="{{ .RelPermalink }}">{{ partial "image" $image }}</a>
            </div>
        </li>
        {{ end }}
    </ul>
    <div class="col-12 text-center">
        <a href="/projects"><button class="button">show more projects <img class="button__icon" src="/images/button-arrow.svg" alt="show more"></button></a>
    </div>
</section>