{{ $category := .Site.GetPage "/projects" }}
<section class="row projects gap-xl">
    <h2 class="as_h1 col-12 text-center projects__title">Selected projects</h2>
    <ul class="col-12 projects__list">
        {{ range first 3 $category.Pages.Reverse }}
        {{ $image := (dict "image" (.Resources.Get "thumbnail.png") "alt" .Title "width" 640) }}
        <li class="row project__item d-flex justify-content-between">
            <div class="col-sm-5 d-flex flex-column justify-content-between project__content">
                <div>
                    <a href="{{ .RelPermalink }}"><h3 class="bold mb-4">{{ .Title }}</h3></a>
                    <p class="project__item-description">{{ .Description }}</p>
                </div>
                <div>
                    <img class="project__cat-scratch" src="/images/cat-scratch.gif" width="175" alt="cat scratch">
                    <a href="{{ .RelPermalink }}" class="project__item-show-more">More shots from this project</a>
                </div>
            </div>
            <div class="col-sm-6 project__item-image order-first order-sm-last mb-3 mb-sm-0">
                <a href="{{ .RelPermalink }}">{{ partial "image" $image }}</a>
            </div>
        </li>
        {{ end }}
    </ul>
    <div class="col-12 text-center">
        <a href="/projects"><button class="button">Show More Projects <img class="button__icon" src="/images/button-arrow.svg" alt="show more"></button></a>
    </div>
</section>