<hr>
<section class="row recommendations">
    <h2 class="as_h1 col-sm-6 recommendations__title">Recommendations</h2>
    <div class="col-12 recommendations__list">
        <ul class="row">
            {{ range .Site.Data.recommendations.recommendations }}
            <li class="col-sm-4">
                <div class="recommendation">
                    <div class="recommendation__person d-flex flex-row">
                        <img src="{{ .photo }}" width="64" height="64" alt="{{ .name }}" class="recommendation__photo">
                        <div class="recommendation__description d-flex flex-column justify-content-center">
                            <p class="bold recommendation__name">{{ .name }}</p>
                            <p class="paragraph2 recommendation__title">{{ .title }}</p>
                        </div>
                    </div>
                    <div class="recommendation__content">{{ .content }}</div>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</section>